# Build folders
.build/
build/
DerivedData/

# Xcode
xcuserdata/
*.xcuserstate

# Cur
.cursor/

# macOS
.DS_Store

# Scripts
Hivecrew/scripts/

# Swift Package Manager
.swiftpm/xcode/xcuserdata/
Package.resolved
